html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.flex-container {
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
}


/* Nav */

nav {
  min-width: 180px;
  background-color: #354052;
  color: #ccc;
}

.profile-pic {
  display: block;
  height: 100px;
  width: 100px;
  border: 1px solid #28313f;
  border-radius: 50%;
  margin: 20px auto 0 auto;
  text-align: center;
}

.username {
  margin-bottom: 20px;
  font-size: .9em;
  font-weight: 600;
  text-align: center;
}

nav hr {
  height: 1px;
  border: none;
  background-color: #28313f;
}

nav ul {
  padding: 0;
}

.menu-heading {
  margin-left: 20px;
  color: #7a8ba3;
  font-size: .75em;
  font-weight: 800;
}

nav a {
  position: relative;
  display: block;
  height: 30px;
  width: 100%;
  padding: 5px 0 0 15px;
  border-left: 2px solid #354052;
  margin-bottom: 5px;
  color: #ccc;
  font-size: .8em;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
  border-left: 2px solid #16A4FA;
  background-color: #30394A;
  color: #fff;
}

.i-space {
  position: absolute;
  left: 40px;
}

.yellow {
  color: #D5BD16;
}

.blue {
  color: #2AB1FB;
}

.red {
  color: #EC1862;
}

.green {
  color: #03AC8A;
}


/* Main */

main {
  flex: 1;
}


/* Search */

.searchbar {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.search-menu {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-right: 1px solid #ccc;
  color: #808080;
  text-align: center;
}

.fa-bars {
  vertical-align: middle;
}

.fa-angle-left {
  margin-top: 20px;
  font-size: .6em;
  color: #2AB1FB;
}

.search-input-container {
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.search-input-container input {
  height: 50px;
  width: 800px;
  padding: 0;
  border: none;
  margin: 0;
  text-indent: 32px;
  vertical-align: top;
}

input::placeholder {
  color: #aaa;
}

.search-input-container .fa-search {
  position: absolute;
  top: 16px;
  left: 10px;
  color: #aaa;
}

.search-float {
  position: absolute;
  top: 0;
  right: 0;
}

.search-1 {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding-left: 6px;
  border-left: 1px solid #ccc;
  margin: 0 auto;
  color: #808080;
  text-align: center;
}

.fa-user-plus {
  margin-top: 15px;
}

.search-2 {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding-left: 6px;
  border-left: 1px solid #ccc;
  color: #808080;
  text-align: center;
  vertical-align: top;
}

main .fa-calendar-alt {
  margin-top: 15px;
}

.search-3 {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-left: 1px solid #ccc;
  color: #808080;
  text-align: center;
  vertical-align: top;
}

.fa-th {
  margin-top: 15px;
}


/* Header */

header {
  position: relative;
  padding: 20px 50px 0 50px;
  border-bottom: 1px solid #ccc;
}

h1 {
  margin: 0;
  font-weight: 600;
}

header p {
  padding-left: 2px;
  margin: 0;
  color: #808080;
  font-weight: 600;
}

header .fa-map-marker {
  margin-right: 5px;
  font-size: .9em;
}

header span {
  padding-bottom: 2px;
  line-height: 1em;
  color: #2AB1FB;
}

.header-buttons {
  position: absolute;
  top: 25px;
  right: 50px;
  color: #808080;
  font-size: .9em;
  font-weight: 600;
}

.header-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-left: 5px;
  text-align: center;
}

.header-button1 {
  width: 90px;
  padding-bottom: 10px;
}

.fa-circle {
  padding-right: 5px;
  color: #9DCD55;
  font-size: 1em;
}

header ul {
  padding-left: 0;
  margin: 20px 0 0 0;
  color: #808080;
}

header li {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  margin-right: 30px;
  font-size: .7em;
  font-weight: 800;
}

header li:hover {
  border-bottom: 2px solid #3cb0fd;
}


/* Section */

section {
  padding: 20px;
  background-color: #EDF2F6;
}


/* Charts */

.charts {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  text-align: center;
}

.circle-charts {
  margin-bottom: 20px;
}

.upload-progress {
  display: inline-block;
}

.chart1 .first {
  background-color: #64B3BD;
}

.chart2 {
  margin: 0 15px 0 15px;
}

.chart2 .first {
  background-color: #2AB1FB;
}

.chart3 .first,
.chart3 .last {
  background-color: #A36CAB;
}

.progress-val {
  font-size: 2em;
  font-weight: 600;
}

.progress-val-2 {
  display: block;
  margin-top: -5px;
  font-size: .4em;
}

.bar-chart {
  display: block;
  height: 120px;
  margin-bottom: 20px;
}

.chart-btn {
  padding: 10px 10px 10px 10px;
  border: 1px solid #aaa;
  border-radius: 28px;
  background-color: white;
  font-size: .8em;
  font-weight: 600;
}

.collapse {
  text-align: center;
}

.collapse hr {
  display: inline-block;
  height: 1px;
  width: 48.2%;
  border: 0;
  background-color: #ccc;
}

.collapse-arrow {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #aaa;
  border-radius: 28px;
  background-color: #fff;
  color: #aaa;
}

.fa-angle-up {
  margin-bottom: 2px;
}


/* Job */

.job {
  display: flex;
}


/* Content */

.job-info {
  flex: 1;
  margin-top: 20px;
}


/* Card */

.job-card {
  width: 100%;
  margin: 0 auto;
}

.card-title {
  display: flex;
  height: 50px;
  padding: 0 20px 0 20px;
  background-color: #6F7E95;
  color: #fff;
  font-size: .9em;
  font-weight: 600;
  align-items: center;
}

.edit {
  padding: 5px 10px 5px 10px;
  margin-left: 45px;
  background-color: #7F8BA5;
}

.edit .fa-pencil-alt {
  margin-right: 5px;
}

.card-body {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  background-color: white;
}

.card-body-title {
  width: 30%;
}

.card-body-description {
  width: 70%;
}


/* Aside */

aside {
  width: 30%;
  min-width: 250px;
  padding-left: 20px;
  margin-top: 20px;
}

.social-buttons {
  display: flex;
  flex-direction: column;
}

.social-btn {
  position: relative;
  height: 50px;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  color: #fff;
}

.fa-facebook-f,
.fa-twitter,
.fa-linkedin {
  position: absolute;
  left: 15px;
}

.social-btn-1 {
  background-color: #5071BB;
}

.social-btn-2 {
  background-color: #45A8E9;
}

.social-btn-3 {
  background-color: #3481B7;
}

.aside-widgets {
  margin: 20px 0 20px 0;
}

.aside-widgets span {
  margin-left: 5px;
  font-weight: 600;
}

.aside-widgets p {
  color: #aaa;
  font-size: .8em;
}

.aside-widgets input {
  height: 40px;
  width: 79%;
  padding: 10px;
  border: none;
  background-color: #fff;
}

.aside-widgets button {
  height: 40px;
  width: 19%;
  border: none;
  background-color: #64B3BD;
  color: #fff;
  font-size: .9em;
}

.aside-widgets input:last-child {
  width: 100%;
}

aside hr {
  height: 1px;
  border: 0;
  background-color: #ccc;
}


/* Other */

.hover-button:hover {
  background-color: #3cb0fd;
  color: white;
}

@media screen and (min-width:1366px) {
  .upper-section {
    border-right: 1px solid #ccc;
  }
}

@media only screen and (max-width: 1365px) {
  .collapse hr {
    width: 48%;
  }
}

@media only screen and (max-width: 1250px) {
  .search-input-container input {
    width: 700px;
  }
}

@media only screen and (max-width: 1150px) {
  .search-input-container input {
    width: 600px;
  }
  .card-body-title {
    width: 100%;
    margin-bottom: 0;
    font-size: .9em;
    font-weight: 800;
  }
  .card-body-description {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1050px) {
  .search-input-container input {
    width: 500px;
  }
  header li {
    margin-right: 15px;
  }
  .charts {
    flex-direction: column;
    justify-content: center;
  }
  .circle-chart-section {
    margin-bottom: 20px;
  }
  .bar-chart {
    margin: 0 auto 20px auto;
  }
}

@media only screen and (max-width:950px) {
  .search-input-container input {
    width: 400px;
  }
  .collapse hr {
    width: 47%;
  }
  .header-buttons {
    position: static;
    margin: 10px 0 10px 0;
  }
  .job {
    flex-direction: column;
  }
  aside {
    width: 100%;
    padding-left: 0;
  }
  .social-buttons {
    flex-direction: row;
    justify-content: space-between;
  }
  .social-btn {
    width: 32%;
  }
}

@media only screen and (max-width:850px) {
  .search-input-container input {
    width: 300px;
  }
  .social-buttons {
    flex-direction: column;
  }
  .social-btn {
    width: 100%;
  }
}

@media only screen and (max-width:750px) {
  .search-input-container input {
    width: 200px;
  }
  .collapse hr {
    width: 45%;
  }
  h1 {
    font-size: 1.5em;
  }
  header p {
    font-size: .9em;
  }
}

@media only screen and (max-width:650px) {
  .flex-container {
    flex-direction: column;
  }
  nav {
    text-align: center;
  }
  nav hr {
    display: none;
  }
  .nav-menu {
    margin: 0 auto;
  }
  nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  nav li {
    float: left;
  }
  nav li a,
  .menu-heading {
    display: inline-block;
    padding: 14px 16px;
    margin: 0;
    color: #ccc;
    text-align: center;
  }
  nav li a:hover,
  .dropdown:hover .menu-heading {
    background-color: #3cb0fd;
    color: white;
  }
  .dropdown-content {
    position: absolute;
    z-index: 1;
    display: none;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropdown-content a {
    padding: 12px 16px;
    border-left: 2px solid #f9f9f9;
    color: #aaa;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #EDF2F6;
    color: #333;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .search-input-container input {
    width: 350px;
  }
}

@media only screen and (max-width:500px) {
  .collapse hr {
    width: 44%;
  }
  .search-input-container input {
    width: 200px;
  }
}

@media only screen and (max-width:450px) {
  .search-input-container input {
    width: 150px;
  }
}
@media only screen and (max-width:350px) {
  .search-input-container input {
    width: 100px;
  }
}